

h1 {
  font-family: 'Raleway';
}

#body {
  font-family: 'Raleway';
}

/***************************************************** Nav bar */

.titrenav {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 25px;
  color: black;
}


.navbar-collapse {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.navtext:hover {
  color: #175260;
}

.myButton {
  background-color: #000000;
  border-radius: 35px;
  display: inline-block;
  cursor: pointer;
  color: #fcf7fc;
  font-family: 'Cabin';
  font-size: 13px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton:hover {
box-shadow: 1px 2px 3px 0px grey;

  text-decoration: none;
  color: white;
  border: 0px solid #ffffff;
  border-radius: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton6 {
  background-color: black;
  border-radius: 35px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Cabin';
  font-size: 14px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton6:hover {
  background-color: #af502b;
  text-decoration: none;
  color: white;
}

.myButton6:active {
  position: relative;
  top: 1px;
}

.header-sticky:hover{
  background: white;
  box-shadow: 0px 8px 17px -3px rgba(0,0,0,0.1);
}

.titrenav {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ecartnav{
  padding-right : 12px;
}

/***************************************************** Titre */

.imageaccueil {
  width: 100%;
  height: auto;
}

.titre1{
  font-family: 'Raleway';
  color: black;
  font-size: 70px;
  font-weight: 600;
}

.myButton2 {
  background-color: white;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: 'Cabin';
  font-size: 18px;
  font-weight: bold;
  padding: 20px 80px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  position: relative;
  top: 40px;
  left: 10px;
  z-index: 1;
}

.myButton2:hover {
  background-color: #eeeeee;
  color: black;
}

.myButton2:active {
  position: relative;
}


/***************************************************** Press */


.logo {
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
filter: grayscale(70%);
width: 160px;
height: auto;
}

.press {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo1 {
  width: 90px;
  height: auto;
}


/***************************************************** concept rapide */

.explicationconcept {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Raleway';
  padding-top: 20px;
  padding-bottom: 80px;
}

.textesuper {
  background-color: #F8F4F0;
  font-weight: 700;
}

.conceptrapide {
  padding-top: 110px;
  padding-bottom: 50px;
}

/***************************************************** Explication */

#Explication {
  padding-top: 60px;
  background-color: #FFF9F4;
}

.numeroexplication {
  font-size: 80px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 600;
}

.titreexplication {
  font-size: 20px;
  font-family: 'Raleway';
  text-align: center;
  font-weight: 500;
}

.detailexplication {
  font-size: 16px;
  font-family: 'Raleway';
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
}

.image1 {
  width: 280px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 2px #F5EEE8);
}

.image2 {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image3 {
  width: 320px;

  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px 2px #F5EEE8);
}


.text-block3 {
font-family: 'Raleway';
font-weight: 600;
font-size: 2.5rem;
padding-left: 50px;
padding-bottom: 50px;
text-align: center;
}


/***************************************************** Offre */

#Offre {
  padding-top: 50px;
  padding-bottom: 50px;
}

.numeroexplication2 {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 80px;
}


.ecritureblanc{
  color: white;
  font-weight: 500;
}

.descriptifoffre {
  font-family: 'Raleway';
  font-weight: 500;

}

.imagedescription {
  width: 180px;
  height: auto;
}


.ensvp {
font-weight: 700;
}

/***************************************************** Communauté */

#Communaute {
  padding-top: 50px;
  background-color: #FFF9F4;
}


.divarchi {
  padding-top: 20px;
}

.archi {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.photoarchi {
  padding-left: 30px;
  padding-right: 30px;
}

.bouttonarchi {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
}


/***************************************************** Feedbacks */

.feedbacks {
font-family: 'Raleway';
}

.photoavis {
width: 300px;
height: auto;
}

/***************************************************** Footer */


#footer {
  font-family: 'Raleway';
  margin: 0px;
}

.reseaux {
  margin-left: 0px;
  margin-right: 0px;
}

.lienstyle {
  color: black;
}

.lienstyle:hover {
  color: black;
}

.lienstyle2 {
  font-size: 35px;
  color: black;
}

.lienstyle2:hover {
  color: black;
}

.maildeco {
  text-decoration: none;
  color: black;
}

.maildeco:hover {
  color: black;
}

.descriptionfooter {
  font-family: 'Raleway';
  font-size: 13px;
  color: black;
}

.copyright {
  font-family: 'Raleway';
  font-size: 15px;
}
