

h1 {
  font-family: 'Cabin';
}

#body {
  font-family: 'Cabin';
}

/***************************************************** Nav bar */


.titrenav {
  font-family: 'Cabin';
  font-weight: 900;
  font-size: 25px;
  color: black;
}


.navbar-collapse {
  font-family: 'Cabin';
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.navtext:hover {
  color: #175260;
}

.myButton {
  background-color: #000000;
  border-radius: 35px;
  display: inline-block;
  cursor: pointer;
  color: #fcf7fc;
  font-family: 'Cabin';
  font-size: 13px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton:hover {
box-shadow: 1px 2px 3px 0px grey;

  text-decoration: none;
  color: white;
  border: 0px solid #ffffff;
  border-radius: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton6 {
  background-color: black;
  border-radius: 35px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Cabin';
  font-size: 14px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton6:hover {
  background-color: #af502b;
  text-decoration: none;
  color: white;
}

.myButton6:active {
  position: relative;
  top: 1px;
}

.header-sticky:hover{
  background: white;
  box-shadow: 0px 8px 17px -3px rgba(0,0,0,0.1);
}

.titrenav {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ecartnav{
  padding-right : 12px;
}

/***************************************************** Titre */

.imageaccueil {
  width: 100%;
  height: auto;
}

.titre1{
  font-family: 'Cabin';
  color: white;
  font-size: 70px;
  font-weight: 600;
}

.myButton2 {
  background-color: white;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: 'Cabin';
  font-size: 18px;
  font-weight: bold;
  padding: 20px 80px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  position: relative;
  top: 40px;
  left: 10px;
  z-index: 1;
}

.myButton2:hover {
  background-color: #eeeeee;
  color: black;
}

.myButton2:active {
  position: relative;
}


/***************************************************** Explication */

#Explication {
  background-color: #F5F5F5;
}

.numeroexplication {
  font-size: 80px;
  text-align: center;
  font-family: 'Cabin';
}

.titreexplication {
  font-size: 25px;
  font-family: 'Cabin';
  text-align: center;
}

.detailexplication {
  font-size: 18px;
  font-family: 'Cabin';
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.image1 {
  width: 200px;
  margin-left: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image2 {
  width: 220px;
  margin-left: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.text-block3 {
font-family: 'Cabin';
font-weight: 600;
font-size: 2.5rem;
padding-left: 50px;
padding-bottom: 50px;
text-align: center;
}


/***************************************************** Offre */

.ecritureblanc{
  color: white;
}

.descriptifoffre {
  font-family: 'Cabin';

}

.imagedescription {
  width: 180px;
  height: auto;
}

/***************************************************** Exemple projets */

.exempleprojet{
  background: #F9EADD;
}

.corpexemple{
  padding-bottom: 30px;
}

/***************************************************** Team */

.user-photo{
   border-radius: 50%;
   width: 80px;
   height: 80px;
}

.descriptiondecorateurs{
  font-family: 'Cabin';
  font-size: 20px;
}

.icon-arrow-right2:hover{
  color: black;
}

/***************************************************** Commentaire */

.commentaires {
  font-family: 'Cabin';
  font-size: 10px;
}

.paddingreg{
  padding-top: 50px;
  padding-bottom: 50px;
}



/***************************************************** Footer */


#footer {
  font-family: 'Cabin';
  margin: 0px;
}

.lienstyle {
  color: black;
}

.lienstyle:hover {
  color: black;
}

.lienstyle2 {
  font-size: 35px;
  color: black;
}

.lienstyle2:hover {
  color: black;
}

.maildeco {
  text-decoration: none;
  color: black;
}

.maildeco:hover {
  color: black;
}

.descriptionfooter {
  font-family: 'Cabin';
  font-size: 13px;
  color: black;
}

.copyright {
  font-family: 'Cabin';
  font-size: 15px;
}
