h1 {
    font-family: 'Cormorant Garamond';
    font-size: 50px;
    font-weight: 900;
    padding-left: 35px;
}

h2 {
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    font-weight: 900;
}

h3 {
  font-family: 'Cormorant Garamond';
  font-size: 35px;
  font-weight: 800;
}

p {
    font-family: 'Raleway';
    color: black;
}

.font1 {
  font-family: 'Cormorant Garamond';
}


.font2  {
  font-family: 'Raleway';
}

.font3  {
  font-family: 'Raleway';
  font-size: 15px;
}
/***************************************************** Nav bar */

.titrenav {
  font-weight: 700;
  font-size: 25px;
  color: black;
}


.navbar-collapse {
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.navtext:hover {
  color: #175260;
}

.myButton {
  background-color: #000000;
  border-radius: 35px;
  font-family: 'Raleway';
  display: inline-block;
  cursor: pointer;
  color: #fcf7fc;
  font-size: 13px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton:hover {
box-shadow: 1px 2px 3px 0px grey;
  text-decoration: none;
  color: white;
  border: 0px solid #ffffff;
  border-radius: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton6 {
  background-color: black;
  font-family: 'Raleway';
  border-radius: 35px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton6:hover {
  background-color: #af502b;
  text-decoration: none;
  color: white;
}

.myButton6:active {
  position: relative;
  top: 1px;
}

.header-sticky:hover{
  background: white;
  box-shadow: 0px 8px 17px -3px rgba(0,0,0,0.1);
}

.titrenav {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.nav-item {
  padding-left: 20px;
}

.fontcolor {
  color: black;
}
/***************************************************** Titre */

.imageaccueil {
  width: 100%;
  height: auto;
}

.myButton2 {
  background-color: white;
  font-family: 'Raleway';
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 80px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  position: relative;
  top: 40px;
  left: 35px;
  z-index: 1;
}

.myButton2:hover {
  background-color: #eeeeee;
  color: black;
}

.myButton2:active {
  position: relative;
}

.titrepremier {
  font-size: 80px;
}

/***************************************************** Press */


.logo {
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
filter: grayscale(70%);
width: 160px;
height: auto;
}

.press {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo1 {
  width: 90px;
  height: auto;
}


/***************************************************** concept rapide */


.textesuper {
  background-color: #F6F1EB;
  font-weight: 700;
}

.conceptrapide {
  padding-top: 110px;
  padding-bottom: 50px;
}

/***************************************************** Explication */

#Explication {
  padding-top: 60px;
background-color: #FBF9F8;
}

.numeroexplication {
  font-size: 85px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.titreexplication {
  text-align: center;
}

.detailexplication {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
}

.image1 {
height: 200px;
width: auto;
padding-left: 100px;
}

.image2 {
  height: 200px;
  width: auto;
  padding-left: 70px;
}

.image3 {
  height: 200px;
  width: auto;
  padding-left: 80px;
}

.paddingexplication {
  padding-top: 70px;
}


.text-block3 {
font-weight: 600;
font-size: 2.5rem;
padding-left: 50px;
padding-bottom: 50px;
text-align: center;
}

/***************************************************** Offre */

#Offre {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FBF9F8;
}

.numeroexplication2 {
  font-weight: 500;
  font-size: 80px;
}

.ecritureblanc{
  color: white;
  font-weight: 500;
}

.descriptifoffre {
  font-weight: 500;
  color: black;
}

.imagedescription {
  width: 180px;
  height: auto;
}


.ensvp {
font-weight: 700;
}

.piecetypo {
  font-size: 20px;
}


.btn-dark1 {
  color: black;
  background-color: #E8E1D8;
  border-color: black;

}

.btn-dark1:hover {
    color: black;
    background-color: #E8E1D8;
    border-color: #FBF9F8; }


.btn-light1 {
      color: black;
      background-color: white;
      border-color: #E8E1D8; }

.btn-light1:hover {
        color: black;
        background-color: white;
        border-color: #FBF9F8; }


/***************************************************** RDV BOX */

.rdvbox {
  color: black;

}

.rdvclass {
    background-color: #FBF9F8;
    padding: 0px;
}


/***************************************************** Communauté */

#Communaute {
  padding-top: 50px;
  background-color: #FBF9F8;
}


.divarchi {
  padding-top: 20px;
}

.archi {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.photoarchi {
  padding-left: 30px;
  padding-right: 30px;
}

.bouttonarchi {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
}


/***************************************************** Feedbacks */


.photoavis {
width: 300px;
height: auto;
}

/***************************************************** Footer */


#footer {
  margin: 0px;
}

.reseaux {
  margin-left: 0px;
  margin-right: 0px;
}

.lienstyle {
  color: black;
}

.lienstyle:hover {
  color: black;
}

.lienstyle2 {
  font-size: 35px;
  color: black;
}

.lienstyle2:hover {
  color: black;
}

.maildeco {
  text-decoration: none;
  color: black;
}

.maildeco:hover {
  color: black;
}

.descriptionfooter {
  font-size: 13px;
  color: black;
}

.copyright {
  font-size: 15px;
}
