

h1 {
  font-family: 'Cabin';
}

#body {
  font-family: 'Cabin';
}

/***************************************************** Nav bar */


.titrenav {
  font-family: 'Cabin';
  font-weight: 900;
  font-size: 25px;
  color: black;
}


.navbar-collapse {
  font-family: 'Cabin';
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.navtext:hover {
  color: #175260;
}

.myButton {
  background-color: #000000;
  border-radius: 35px;
  display: inline-block;
  cursor: pointer;
  color: #fcf7fc;
  font-family: 'Cabin';
  font-size: 13px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton:hover {
box-shadow: 1px 2px 3px 0px grey;

  text-decoration: none;
  color: white;
  border: 0px solid #ffffff;
  border-radius: none;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.myButton6 {
  background-color: black;
  border-radius: 35px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: 'Cabin';
  font-size: 14px;
  padding: 8px 20px;
  text-decoration: none;
}

.myButton6:hover {
  background-color: #175260;
  text-decoration: none;
  color: white;
}

.myButton6:active {
  position: relative;
  top: 1px;
}

.header-sticky:hover{
  background: white;
  box-shadow: 0px 8px 17px -3px rgba(0,0,0,0.1);
}

.titrenav {
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}


/*****************************************************  Titre */

.lesquestions {
  padding-top: 110px;
  padding-left: 90px;
  font-family: 'Cabin';
  font-size: 40px;
  font-weight: 700;
}

.stylehr {
  border-top: 3px solid #8c8b8b;
  width: 10%;
  text-align: left;
  margin-left: 20px;
}

/***************************************************** Q&A part */

.qadiv {
  margin: 0 auto;
  padding-left: 4rem;
  padding-top: 3rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  width: 48rem;
  padding-bottom: 100px;
}

.sous-titre {
font-family: 'Cabin';
font-size: 1.2rem;
font-weight: 500;
}

.accordion .accordion-item {
  border-bottom: 1px solid #F9EADD;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #F9EADD;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #175260;
  outline: none;
  border: none;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #175260;

}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  font-family: 'Cabin';
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: black;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 30em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
    font-family: 'Cabin';
}


/***************************************************** Footer */


#footer {
  font-family: 'Cabin';
  margin: 0px;
}

.lienstyle {
  color: black;
}

.lienstyle:hover {
  color: black;
}

.lienstyle2 {
  font-size: 35px;
  color: black;
}

.lienstyle2:hover {
  color: black;
}

.maildeco {
  text-decoration: none;
  color: black;
}

.maildeco:hover {
  color: black;
}

.descriptionfooter {
  font-family: 'Cabin';
  font-size: 13px;
  color: black;
}

.copyright {
  font-family: 'Cabin';
  font-size: 15px;
}
